body {
  display: flex;
  justify-content: space-around;
  background-color: #107abb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #dee2e5;
  border-radius: 5px;
  width: 33%;
  height: fit-content;
}

.container-title {
  text-transform: uppercase;
  color: #1e3c4d;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.container-add-btn {
  color: #798c97;
  padding: 20px;
}

.container-add-btn:hover {
  cursor: pointer;
}

.container-content {
  display: flex;
  flex-direction: column;
}

.create-task {
  display: none;
  flex-direction: column;
}


.close {
  display: none;
  position: absolute;
  top: 2px;
  right: 5px;
}

.close:hover {
  cursor: pointer;
}

.active {
  display: flex;
}

input[type="text"] {
  margin: 20px;
  padding: 5px;
  font-size: inherit;
  border: none;
}

input[type="submit"] {
  margin: 40px;
  height: 50px;
  font-size: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.task {
  position: relative;
  display: block;
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgb(174, 173, 173) 2px 2px;
}

.task:hover {
  background-color: rgb(251, 246, 246);
}
