body {
  display: flex;
  justify-content: space-around;
  background-color: #107abb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #dee2e5;
  border-radius: 5px;
  width: 33%;
}

.container-title {
  text-transform: uppercase;
  color: #1e3c4d;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

.container-add-btn {
  color: #798c97;
  padding: 20px;
}

.container-add-btn:hover {
  cursor: pointer;
}

.container-content {
  display: flex;
  flex-direction: column;
}

.popup {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #798c97;
  border-radius: 5px;
  box-shadow: 2px 2px #1e3c4d;
  z-index: 1;
}

.active {
  display: flex;
}

.popup-title {
  align-self: center;
  padding: 20px;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 20px;
  padding: 5px;
  font-size: inherit;
}

input[type="submit"] {
  margin: 40px;
  height: 50px;
  font-size: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.task {
  display: block;
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: rgb(174, 173, 173) 2px 2px;
}
